# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
# Tab width seems to be 4 spaces, not 2
[*]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = tab
tab_width = 4
trim_trailing_whitespace = true

# The property below is not yet universally supported
[*.md]
max_line_length = 108
word_wrap = true
# Markdown sometimes uses two spaces at the end to
#  mark soft line breaks
trim_trailing_whitespace = false
